In [1]:
import requests
import datetime
import numpy as np
import pandas as pd
import os
import sys

## Request Token
https://www.ncdc.noaa.gov/cdo-web/token

In [2]:
noaa_token = 'YjIYCaXvLAVreyDFpRAFunMomNtvQrJD'

## Pick Weather Station
https://www.ncdc.noaa.gov/cdo-web/datatools/findstation

Select Daily Summaries --> Air Temp, Precipitation, Wind, etc.

In [3]:
datasetid='GHCND'

In [4]:
# Nashville, TN station
station_id = 'GHCND:USW00013897'

In [5]:
start_date = '2020-01-01'
end_date = '2020-12-31'

In [6]:
base_url_data = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data'
base_url_stations = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/stations'
base_url_datatypes = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/datatypes'
base_url_datasets = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/datasets'

In [7]:
token = {'token': noaa_token}

In [16]:
# list datasets for station ID
params = 'stationid='+station_id+'&'+'limit=1000'

r = requests.get(base_url_datasets, params = params, headers=token)

df = pd.DataFrame.from_dict(r.json()['results'])

In [17]:
display(df)

,uid,mindate,maxdate,name,datacoverage,id
0,gov.noaa.ncdc:C00861,1763-01-01,2021-02-20,Daily Summaries,1,GHCND
1,gov.noaa.ncdc:C00946,1763-01-01,2021-02-01,Global Summary of the Month,1,GSOM
2,gov.noaa.ncdc:C00947,1763-01-01,2021-01-01,Global Summary of the Year,1,GSOY
3,gov.noaa.ncdc:C00821,2010-01-01,2010-01-01,Normals Annual/Seasonal,1,NORMAL_ANN
4,gov.noaa.ncdc:C00823,2010-01-01,2010-12-31,Normals Daily,1,NORMAL_DLY
5,gov.noaa.ncdc:C00824,2010-01-01,2010-12-31,Normals Hourly,1,NORMAL_HLY
6,gov.noaa.ncdc:C00822,2010-01-01,2010-12-01,Normals Monthly,1,NORMAL_MLY

In [18]:
# list datatypes for station ID
params = 'stationid='+station_id+'&'+'limit=1000'

r = requests.get(base_url_datatypes, params = params, headers=token)

df = pd.DataFrame.from_dict(r.json()['results'])

In [19]:
display(df)

,mindate,maxdate,name,datacoverage,id
0,1965-01-01,2005-12-31,Average cloudiness midnight to midnight from m...,1,ACMH
1,1965-01-01,2005-12-31,Average cloudiness sunrise to sunset from manu...,1,ACSH
2,2010-01-01,2010-01-01,Long-term averages of annual cooling degree da...,1,ANN-CLDD-BASE45
3,2010-01-01,2010-01-01,Long-term averages of annual cooling degree da...,1,ANN-CLDD-BASE50
4,2010-01-01,2010-01-01,Long-term averages of annual cooling degree da...,1,ANN-CLDD-BASE55
...,...,...,...,...,...
688,1996-07-01,2013-03-31,Ground fog,1,WT21
689,1979-01-01,2017-03-26,Ice fog or freezing fog,1,WT22
690,1996-07-02,2005-12-31,Thunder,1,WV03
691,2010-01-01,2010-12-31,Long-term average year-to-date precipitation t...,1,YTD-PRCP-NORMAL
692,2010-01-01,2010-12-31,Long-term average year-to-date snowfall totals,1,YTD-SNOW-NORMAL

In [20]:
datasetid = 'GHCND'

In [21]:
token = {'token': noaa_token}

#passing as string instead of dict because NOAA API does not like percent encoding
params = 'datasetid='+datasetid+'&'+'stationid='+station_id+'&'+'startdate='+start_date+'&'+'enddate='+end_date+'&'+'limit=1000'+'&'+'units=standard'

r = requests.get(base_url_data, params = params, headers=token)

df = pd.DataFrame.from_dict(r.json()['results'])

In [23]:
display(df)

                    date datatype            station attributes  value
0    2020-01-01T00:00:00     AWND  GHCND:USW00013897       ,,W,    6.0
1    2020-01-01T00:00:00     PRCP  GHCND:USW00013897   ,,W,2400    0.0
2    2020-01-01T00:00:00     SNOW  GHCND:USW00013897       ,,W,    0.0
3    2020-01-01T00:00:00     SNWD  GHCND:USW00013897   ,,W,0600    0.0
4    2020-01-01T00:00:00     TAVG  GHCND:USW00013897      H,,S,   42.0
..                   ...      ...                ...        ...    ...
995  2020-03-24T00:00:00     TAVG  GHCND:USW00013897      H,,S,   53.0
996  2020-03-24T00:00:00     TMAX  GHCND:USW00013897   ,,W,2400   63.0
997  2020-03-24T00:00:00     TMIN  GHCND:USW00013897   ,,W,2400   46.0
998  2020-03-24T00:00:00     WDF2  GHCND:USW00013897       ,,W,  310.0
999  2020-03-24T00:00:00     WDF5  GHCND:USW00013897       ,,W,  300.0

[1000 rows x 5 columns]